body h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    font-size: 50px;
    text-align: center;
}

form #textbox {
    font-size: 50px;
}

form #button {
    width: 50%;
    height: 60px;
    background-color: red;
    font-weight: bold;
}

#submitted {
    text-align: center;
}